boltons==23.0.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
conda==23.3.1
conda-package-handling==2.0.2
conda_package_streaming==0.8.0
contourpy==1.0.7
cryptography==41.0.1
cycler==0.11.0
fonttools==4.39.4
idna==3.4
importlib-resources==5.12.0
jsonpatch==1.32
jsonpointer==2.0
kiwisolver==1.4.4
libmambapy==1.4.2
mamba==1.4.2
matplotlib==3.7.1
munkres==1.1.4
numpy==1.24.3
packaging==23.1
pandas==2.0.2
patsy==0.5.3
Pillow==9.5.0
pip==23.1.2
platformdirs==3.5.1
pluggy==1.0.0
pooch==1.7.0
pycosat==0.6.4
pycparser==2.21
pyOpenSSL==23.2.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
scipy==1.10.1
seaborn==0.12.2
setuptools==67.7.2
six==1.16.0
statsmodels==0.14.0
toolz==0.12.0
tornado==6.3.2
tqdm==4.65.0
typing_extensions==4.6.3
tzdata==2023.3
unicodedata2==15.0.0
urllib3==2.0.2
wheel==0.40.0
xarray==2023.5.0
zipp==3.15.0
zstandard==0.19.0
